<a href="https://colab.research.google.com/github/Amrit489/Amrit489.github.io/blob/main/Assignment2_102317296.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.extend([200, 300])
print("List after adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)

L.sort()
print("List in ascending order:", L)

L.sort(reverse=True)
print("List in descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_marks = max(scores)
highest_index = scores.index(highest_marks)
print(f"Highest Marks: {highest_marks}, Index: {highest_index}")

lowest_marks = min(scores)
lowest_count = scores.count(lowest_marks)
print(f"Lowest Marks: {lowest_marks}, Count: {lowest_count}")

reversed_list = list(scores[::-1])
print("Reversed tuple as list:", reversed_list)

marks_to_check = 76
if marks_to_check in scores:
    print(f"Score {marks_to_check} is present at index {scores.index(marks_to_check)}.")
else:
    print(f"Score {marks_to_check} is not present in the tuple.")

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random

random_num = [random.randint(100, 900) for _ in range(100)]
odd_num = [num for num in random_num if num % 2 != 0]
print("Odd numbers:", odd_num)

even_num = [num for num in random_num if num % 2 == 0]
print("Even numbers:", even_num)

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_num = [num for num in random_num if is_prime(num)]
print("Prime numbers:", prime_num)

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
print("Unique scores (Union):", unique_scores)

common_scores = A.intersection(B)
print("Common scores (Intersection):", common_scores)

exclusive_scores = A.symmetric_difference(B)
print("Exclusive scores (Symmetric Difference):", exclusive_scores)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"A is a subset of B: {is_subset}")
print(f"B is a superset of A: {is_superset}")

X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from A. Updated A:", A)
else:
    print(f"Score {X} is not present in A.")

5. Write a program to rename a key city to a location in the following dictionary.

In [2]:
sample_dict = {
    "name": "Amrit",
    "age": 20,
    "salary": 300000,
    "city": "Biratnagar"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Amrit', 'age': 20, 'salary': 300000, 'location': 'Biratnagar'}